// FONTS FAMILY
$font-vollkorn: var(--font-vollkorn);
$font-barlow-condensed: var(--font-barlow-condensed);
$font-nunito: var(--font-nunito);

// COLOR
$black-01: #000;
$black-02: #414548;

$white-01: #ffffff;

$orange-01: #ede0cc;
$orange-02: #fefbf4;
$orange-03: #c5a25d;
$orange-04: #ccb48f;

$green-01: #16703c;

$gray-01: #b8b6af;
$gray-02: #97958f;
$gray-03: #eeeeee;

$grown-01: #4e4b47;
$grown-02: #1f1c17;

$red-01: #be2f31;

// FONTS SIZE
$font-size-14: 14px;
