@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.marquee {
  padding: 30px 0;
  border-bottom: 1px solid $gray-03;
  @include tab {
    padding: 20px 0;
  }
  @include sp {
    padding: 10px 0;
  }

  img {
    height: 100%;
    width: 2954px;
    @include tab {
      width: 1200px;
    }
    @include sp {
      width: 3000px;
    }
  }
}

.gsap_wrapper {
  .title {
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 4.5rem;
    font-family: $font-vollkorn;
    line-height: 1;
    z-index: 4;
    font-weight: normal;
    color: $grown-02;
    display: inline-table;
    @include tab {
      font-size: 3.8rem;
      display: block;
      text-align: center;
      position: static;
    }
    @include sp {
      font-size: 2.8rem;
      display: block;
      text-align: center;
      position: static;
    }
  }
  .content {
    position: absolute;
    width: 300px;
    right: 6.67%;
    bottom: 25.81%;
    top: auto;
    left: auto;
    z-index: 4;
    @include tab {
      margin: 20px auto 0;
      text-align: center;
      width: 700px;
      position: static;
    }
    @include sp {
      margin: 20px auto 0;
      text-align: center;
      position: static;
    }
    p {
      color: $gray-02;
      line-height: 1.3;
      font-weight: normal;
      @include tab {
        text-align: center;
      }
      @include sp {
        text-align: center;
        font-size: 1.4rem;
      }
    }
    .link {
      display: inline-flex;
      align-items: center;
      margin-top: 20px;
      &:hover {
        span.buy {
          &::after {
            width: 100%;
          }
        }
        span.icon {
          margin-left: 5px;
        }
      }
      span.buy {
        position: relative;
        white-space: nowrap;
        font-family: $font-barlow-condensed;
        font-weight: 500;
        text-transform: uppercase;
        color: $black-02;
        &::after {
          position: absolute;
          content: "";
          background: $black-01;
          width: 0;
          height: 1px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: 0.4s;
        }
      }
      span.icon {
        display: inline-flex;
        transition: 0.4s;
      }
    }
  }
}

.gsap_wrapper_pc {
  position: relative;
  height: 788px;
  overflow: hidden;
  display: flex;

  @include tab {
    height: 500px;
  }
  .img1,
  .img2,
  .img3 {
    position: absolute;
    inset: 0;
    img {
      height: 100%;
    }
  }
  .img1 {
    z-index: 3;
  }
  .img2 {
    z-index: 2;
  }
  .img3 {
    z-index: 1;
  }

  .title {
    @include tab {
      text-align: left;
      left: 100px;
      top: 0;
      position: absolute;
    }
  }

  .content {
    @include tab {
      width: 300px;
      right: 6.67%;
      bottom: auto;
      top: -20%;
      left: auto;
      position: absolute;
    }
  }
}

.gsap_wrapper_sp {
  height: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  .gsap_img {
    height: 700px;
    max-width: 100%;
    margin: -150px auto 0;
    position: relative;
    @include sp {
      height: 500px;
      margin-top: -100px;
    }
    div {
      position: absolute;
      inset: 0;
    }
    .img1,
    .img2,
    .img3 {
      img {
        height: 100%;
      }
    }
    .img1 {
      z-index: 3;
    }
    .img2 {
      z-index: 2;
    }
    .img3 {
      z-index: 1;
    }
  }
}

.bg_brand {
  background: url("/img/top/bg_brand.jpg") no-repeat;
  background-size: cover;
  .bg_primary {
    background: $orange-02;
    .title_brand {
      font-family: $font-vollkorn;
      letter-spacing: 0;
    }
    .sub_brand,
    .button {
      font-family: $font-barlow-condensed;
    }
  }
}

.brand {
  .certification {
    font-family: $font-barlow-condensed;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;

    @include sp {
      font-size: 2.2rem;
    }
  }

  .carousel_item {
    picture {
      img {
        @include sp {
          width: 200px;
          height: 200px;
        }
      }
    }
    .carousel_title {
      font-family: $font-vollkorn;
      font-size: 3.6rem;
      margin-top: 10px;
      font-weight: 300;
      @include sp {
        font-size: 2.8rem;
      }
    }

    .carousel_subtitle {
      font-family: $font-barlow-condensed;
      font-size: 1.8rem;
      margin-top: 5px;
      color: $black-02;
      letter-spacing: 1px;
      @include sp {
        font-size: 1.6rem;
        margin-top: 10px;
      }
    }
  }
}

.bestselling_products,
.story {
  display: grid;
  align-items: flex-end;
  padding: 80px 0;

  @include sp {
    display: block;
    padding: 50px 0;
  }

  &_box {
    padding: 50px;

    @include tab {
      padding: 0 25px;
    }

    @include sp {
      padding: 0 25px;
    }
  }

  &_title {
    font-size: 3.2rem;
    font-family: $font-barlow-condensed;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;

    @include sp {
      text-align: center;
    }

    span {
      font-family: $font-vollkorn;
      font-weight: 100;
      font-style: italic;
      text-transform: capitalize;

      @include sp {
        margin-right: 10px;
      }
    }

    br {
      @include sp {
        display: none;
      }
    }
  }

  &_content {
    color: $gray-04;
    font-weight: 400;
    margin-top: 15px;

    @include sp {
      display: none;
    }
  }

  &_container {
    padding-bottom: 70px !important;
    padding-left: 7px;

    @include tab {
      padding-bottom: 20px !important;
      padding-left: 0;
    }

    @include sp {
      padding-bottom: 20px !important;
      padding-left: 0;
    }
  }
}

.bestselling_products {
  grid-template-columns: minmax(0, 520px) minmax(0, 1fr);

  @include tab {
    grid-template-columns: repeat(1, 1fr);
  }

  &_list {
    @include tab {
      padding: 20px;
    }

    @include sp {
      padding: 20px;
    }
  }

  &_item {
    width: 38% !important;

    @include tab {
      width: 20% !important;
    }

    @include sp {
      width: 100% !important;
    }
  }
}
.story {
  grid-template-columns: minmax(0, 1fr) minmax(0, 420px);

  @include tab {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  @include sp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  &_container {
    padding-left: 0;
  }

  &_box {
    @include sp {
      width: 100%;
      text-align: center;
    }
  }

  &_title {
    span {
      @include sp {
        display: block;
      }
    }
  }

  &_content {
    display: block;

    @include sp {
      font-size: 1.4rem;
    }
  }

  &_list {
    padding-left: 50px;
    width: 100%;

    @include tab {
      padding: 20px;
    }

    @include sp {
      padding: 20px;
    }
  }

  &_item {
    figure {
      img {
        aspect-ratio: 384/441;
        width: 100%;
        object-fit: cover;
      }
    }

    h3 {
      text-align: center;
      font-size: 2.8rem;
      font-weight: 500;
      font-family: $font-barlow-condensed;
      text-transform: uppercase;
      @include sp {
        font-size: 1.5rem;
        margin-top: 10px;
      }
    }
  }

  .button {
    @include tab {
      display: none;
    }

    @include sp {
      display: none;
    }
  }
}

.posts {
  padding: 0 50px 50px;

  @include tab {
    padding: 0 20px 50px;
  }

  @include sp {
    padding: 0 20px 50px;
  }

  &_head {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 320px);
    gap: 50px;

    @include tab {
      display: block;
    }

    @include sp {
      display: block;
    }
  }

  &_title {
    font-size: 7.2rem;
    line-height: 1;
    font-style: italic;
    font-family: $font-vollkorn;
    font-weight: 400;

    @include tab {
      font-size: 5rem;
    }

    @include sp {
      font-size: 3rem;
    }
  }

  &_list {
    margin-top: 50px;

    @include tab {
      margin-top: 20px;
    }

    @include sp {
      margin-top: 20px;
    }
  }

  &_item {
    @include tab {
      padding-bottom: 30px;
    }

    @include sp {
      padding-bottom: 10px;
    }
  }

  .button {
    letter-spacing: 0;

    @include tab {
      display: none;
    }

    @include sp {
      display: none;
    }
  }
}

.slogan {
  padding: 50px 0 20px;
  background-color: rgba(237, 224, 204, 0.4);
  pointer-events: none;

  @include sp {
    padding-top: 40px;
  }

  &_item {
    padding: 0 100px 30px;

    @include tab {
      padding: 0 20px 30px;
    }

    @include sp {
      padding: 0 20px 20px;
    }
  }

  &_content {
    text-align: center;
    font-size: 3.8rem;
    color: #ccb48f;
    font-style: italic;
    font-family: $font-vollkorn;
    line-height: 1;
    font-weight: 400;

    @include tab {
      font-size: 3rem;
    }

    @include sp {
      font-size: 2.2rem;
    }
  }

  &_brand {
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
    font-family: $font-barlow-condensed;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.05em;

    @include tab {
      font-size: 1.8rem;
      margin-top: 20px;
    }

    @include sp {
      font-size: 1.4rem;
      margin-top: 20px;
    }
  }
}
